#parIMG{
    text-align: center;
    font-size: 25px;

}
#imgDIV img:hover{

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-box-shadow:3px 5px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 3px 5px 7px rgba(0,0,0,.7);
    box-shadow:3px 5px 7px rgba(0,0,0,.7);
    cursor:pointer;
}
p{
    font-size: 25px;
}
table{
font-size: 25px;
background: #efefef;
background: linear-gradient(top, #efefef 0%, #efefef 100%);
background: -moz-linear-gradient(top, #ffffff 0%, #64767c 100%);
background: -webkit-linear-gradient(top, #ffffff 0%, #64767c 100%);
}